<%- include("./partials/header.ejs"); %>
<style>

  #login_wrapper {
    width: 50vw;
    padding-top: 15vh;
  }

  .jumbotron {
    height: inherit;
    width: inherit;
    margin:0px;
    padding: 16px;

  }

  .display-3 {
    text-align: center;
  }

</style>

<div class="container" id="login_wrapper">
<div class="jumbotron">
  <h1 class="display-3">Login to view your Flash Cards</h1>
  <form action='/login' method='POST'>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" name='auth[username]' class="form-control" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name='auth[password]'class="form-control"  placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>


<%- include("./partials/footer.ejs"); %>
